<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Mobile first-->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="/static/css/yaus_main_index.css">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Sura|Trykker" rel="stylesheet">

        <!-- Javascript -->
        <script src="/static/js/frontpage.js"></script>
    </head>

    <body>
        <header class="content">
                <div class="container-fluid">
                    <div class="row header">
                        <div class="col-lg-12 animated lightSpeedIn">
                            <p class="vcenter">
                            <h1 class="column-center">YAUS</h1>
                            <div class="column-center large-paragraph">
                                <h3>All Urls</h3>
                            </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row strip-white"></div>
                <div class="row strip-blue"></div>
                <div class="row strip-white"></div>
                <div class="row strip-blue"></div>
            </header>
        <div class="container">
            <div class="table-responsive table">
                <table class="table table-striped">
                    <thead>
                      <tr class="column-center">
                        <th class="tbl-col-header">short</th>
                        <th class="tbl-col-header">long</th>
                        <th class="tbl-col-header">visits</th>
                      </tr>
                    </thead>
                    {% for short_url in short_urls %}
                        <tr>
                            <th class="col-md-4">
    {#                          <a href="{{ short_url.short_url }}">{{ short_url.short_url }}</a>#}
                                {{ short_url.short_url }}
                            </th>
                            <th class="col-md-4">
    {#                          <a href="{{ short_url.long_url }}">{{ short_url.long_url }}</a>#}
                                {{ short_url.long_url }}
                            </th>
                            <th class="col-md-4">
                                {{ short_url.visits }}
                            </th>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>  
    </body>
</html>